/*  
*  Disables standard content-box sizing.
*
*/

*, *::before, *::after {
    box-sizing: border-box;
  }


/*  
*  Removes all default margin sets the line height to meet WCAG criteria.
*
*/

* {
    margin: 0;
    line-height: calc(1em + 0.5rem);
}


/*
* Removes default inline display for media and fits media to its container.
*
*/

img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/*
* Form controls will use parent's font.
*
*/

input, button, textarea, select {
  font: inherit;
}

/*
* Allows paragraphs to break words and add hyphens were necessary.
*
*/

p {
  overflow-wrap: break-word;
  hyphens: auto;
}

/****************************************************/

@font-face {
    font-family: 'agent_orangeregular';
    src: url('./fonts/agentorange-webfont.woff2') format('woff2'),
         url('./fonts/agentorange-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'super_foodsregular';
    src: url('./fonts/super_foods-webfont.woff2') format('woff2'),
         url('./fonts/super_foods-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'soraregular';
    src: url('./fonts/sora-variablefont_wght-webfont.woff2') format('woff2'),
         url('./fonts/sora-variablefont_wght-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.disable {
    display: none !important;
}

:root {
    --c-background: #2B303A;
    --c-primary: #D64933;
    --c-primary-dark: #8c2616;
    --c-primary-light: #f36a55;
    --c-secondary: #92DCE5;
    --c-secondary-dark:#578a91;
    --c-secondary-light: #b4eef5;
    --c-background-accent: #39404d;
    --c-background-accent2: #556074;
    --c-text: #d8dbe0;
}

body {
    height: 100vh;
    font-family: super_foodsregular;
    font-size: 16px;
    background-color: var(--c-background);
}


h1 {
    font-size: 3em;
    color: var(--c-primary);
}

h1 > span {
    color: var(--c-secondary);
}

#Start-Screen, 
#Create-Character-Screen {
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

}

#Start-Screen-btn, 
#Create-Player-Submit-Btn {
    cursor: pointer;
    border-radius: 10px;
    color: var(--c-background);
    background-color: var(--c-primary);
    border: none;
    box-shadow: inset 0px -4px 1px var(--c-primary-dark);
    transition: all 0.2s;
}

#Start-Screen-btn {
    font-size: 1em;
    padding: 0.5rem 2rem;
}

#Start-Screen-btn:hover,
#Create-Player-Submit-Btn:hover  {
    background-color: var(--c-secondary);
    box-shadow: inset 0px -4px 1px var(--c-secondary-dark); 
}

#Start-Screen-btn:active,
#Create-Player-Submit-Btn:active {
    box-shadow: none;
    transform: translateY(2px);
}



form {
    display: flex;
    flex-direction: column;
    color: var(--c-text);
    font-size: 1.5em;
    background-color: var(--c-background-accent);
    
    border-radius: 10px;
    box-shadow: 0px 5px 10px rgb(32, 32, 32);
    padding: 20px;
    gap: 20px;

}

form > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form  > h2 {
    margin-bottom: 30px;
}

input {
    border-radius: 15px;
    padding: 5px;
    border: 2px solid var(--c-background-accent2);
    outline: none;
    background-color: var(--c-background-accent2);
}

.player1 {
    color: var(--c-primary);
}

.player1:focus{
    border-color: var(--c-primary);
}

.player2 {
    color: var(--c-secondary);
}

.player2:focus {
    border-color: var(--c-secondary);
}

#Create-Player-Submit-Btn {
    margin-top: 40px;
    padding: 10px;
}



h2 {
    color: var(--c-text);
}

#Playing-Screen {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

header{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

main {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

#game-board {
    width: 400px;
    height: 400px;
    position: relative;
    margin-top: 40px;
}

.logo{
    color: var(--c-primary);
}

.logo > span {
    color: var(--c-secondary);
}

#game-board-svg{
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: -1;
}

.game-board-svg-path {
    stroke: var(--c-background-accent2);
    stroke-width: 6;
}

table {
    width: 100%;
    height: 100%;
    cursor: pointer;
}

td {
    position: relative;
}

.x {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    transform: translateY(-65px);
    fill: var(--c-primary);
    stroke: var(--c-primary);
    stroke-width: 40px;
    display: none;
}

.x-outline {
    stroke: var(--c-primary);
}
.o {
    height: 100%;
    width: 100%;
    padding: 20px;
    position: absolute;
    transform: translateY(-65px);
    stroke: var(--c-secondary);
    stroke-width: 60px;
    position: absolute;
    display: none;
}

.o-outline {
    stroke: var(--c-secondary);
}
td[data-player-turn="player1"][data-value=""]:hover .x {
    display: block;
    fill: var(--c-background);
    stroke: var(--c-background);
}

td[data-player-turn="player2"][data-value=""]:hover .o {
    display: block;
    fill: var(--c-background);
    stroke: var(--c-background);
}


td[data-value="x"] .x {
    display: block;
}

td[data-value="o"] .o {
    display: block;
}

#display {
    height: 400px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    justify-content: center;
    align-content: center;
    gap: 20px;

}

.player-score {
    height: 150px;
    width: 100%;
    border-radius: 10px;
    color: var(--c-background);
    text-align: center;
    padding-top: 20px;
    font-size: 2em;
}

#player1-score {
    background-color: var(--c-primary);
    box-shadow: inset 0px -5px 1px var(--c-primary-dark), inset 0px 5px 1px var(--c-primary-light);
}

#player2-score {
    background-color: var(--c-secondary);
    box-shadow: inset 0px -5px 1px var(--c-secondary-dark), inset 0px 5px 1px var(--c-secondary-light);
}

#current-turn {
    height: 100%;
    width: 100%;
    background-color: var(--c-background-accent);
    border: 5px solid var(--c-background-accent);
    border-radius: 10px;
    box-shadow: inset 5px 5px 1px var(--c-background-accent2),inset -5px -5px 1px var(--c-background-accent2);
    color: green;
    text-align: center;
    padding-top: 20px;
    font-size: 1.5em;
}

.score {
    font-size: 2em;
}


dialog {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);   
    background-color: transparent;
    border: none;
    outline: none;
}

dialog form {
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#play-again svg path {
    fill: var(--c-primary);
}

#play-again svg {
    background-color: var(--c-background);
    border-radius: 10px;
    cursor: pointer;
    box-shadow: inset 0px 2px 1px var(--c-background-accent2);
}


#restart {
    background-color: var(--c-background);
    border-radius: 10px;
    height: 113px;
    width: 113px;
    text-align: center;
    padding-top: 40px;
    cursor: pointer;
    color: var(--c-secondary);
    box-shadow: inset 0px 2px 1px var(--c-background-accent2);
}

#restart:active, #play-again svg:active {
    box-shadow: none;
}